<div class="w-full mt-[20px] relative min-h-[300px]">
  <div class="cWidth mx-auto py-[20px]">
    <h1 class="mx-auto w-fit mb-[20px] text-[2.188em] font-semibold">COURSES</h1>
    <div class="grid grid-cols-4 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-[20px]">
      <app-course img="courses/boxing/0.jpg" header="BOXING" link="0"
        desc="Step into the ring and unleash your inner fighter with our invigorating boxing classes. Led by experienced instructors who are passionate about the sport, these classes offer a dynamic blend of cardio, strength, and agility training. " />
      <app-course img="courses/yoga/0.jpg" header="YOGA" link="5"
        desc="Discover the transformative power of yoga with our invigorating yoga classes. Rooted in ancient tradition yet adapted for modern life, yoga offers a holistic approach to health and wellness." />
      <app-course img="courses/strength/0.jpg" header="STRENGTH" link="3"
        desc="Get ready to power up your workout and unleash your full potential with our strength training classes. Led by experienced instructors who are dedicated to helping you build strength, muscle, and confidence." />
      <app-course img="courses/personal/0.jpg" header="PERSONAL" link="2"
        desc="Experience the ultimate in personalized fitness with our one-on-one personal training sessions. Whether you're new to exercise, recovering from an injury, or looking to take your fitness to the next level." />
    </div>
  </div>
  <img src="../../../assets/images/courses-bg.png" alt=""
    class="absolute left-0 top-0 w-full h-full object-cover z-[-1]" />
</div>