<div class="w-full mt-[20px] relative min-h-[300px]">
  <div class="cWidth mx-auto py-[20px]">
    <h1 class="mx-auto w-fit mb-[20px] text-[2.188em] font-semibold">COURSES</h1>
    <div class="grid grid-cols-4 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-[20px]">
      <app-course img="courses/boxing/0.jpg" header="BOXING" link="0"
        desc="Loem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac vulputate augue, quis euismod nulla. " />
      <app-course img="courses/yoga/0.jpg" header="YOGA" link="5"
        desc="Loem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac vulputate augue, quis euismod nulla. " />
      <app-course img="courses/strength/0.jpg" header="STRENGTH" link="3"
        desc="Loem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac vulputate augue, quis euismod nulla. " />
      <app-course img="courses/personal/0.jpg" header="PERSONAL" link="2"
        desc="Loem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac vulputate augue, quis euismod nulla. " />
    </div>
  </div>
  <img src="../../../assets/images/courses-bg.png" alt=""
    class="absolute left-0 top-0 w-full h-full object-cover z-[-1]" />
</div>