<div class="w-full mt-[20px] relative min-h-[300px]">
  <div class="cWidth mx-auto py-[20px]">
    <h1 class="mx-auto w-fit mb-[20px] text-[2.188rem] font-semibold">COURSES</h1>
    <div class="grid grid-cols-4 gap-[20px]">
      <app-course img="box_small.png" header="BOXING"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac vulputate augue, quis euismod nulla. " />
      <app-course img="yoga_small.png" header="YOGA"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac vulputate augue, quis euismod nulla. " />
      <app-course img="strength_small.png" header="STRENGTH"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac vulputate augue, quis euismod nulla. " />
      <app-course img="personal_small.png" header="PERSONAL"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac vulputate augue, quis euismod nulla. " />
    </div>
  </div>
  <img src="../../../assets/images/courses-bg.png" alt=""
    class="absolute left-0 top-0 w-full h-full object-cover z-[-1]" />
</div>