<div class="cWidth mx-auto">
  <h1 class="dark text-[2.188rem] font-semibold mt-[50px]">About us</h1>
  <div class="text-justify flex flex-col text-[1.125rem] gap-[15px] mt-[10px]">
    <p class="dark">At Fit Fusion, we're more than just a gym – we're a community dedicated to helping you achieve your
      fitness goals and live a healthier lifestyle. Founded with a passion for fitness and wellness, we strive to create
      an
      environment where everyone feels welcome, motivated, and empowered to reach their full potential.</p>
    <p class="dark">Our state-of-the-art facilities are equipped with the latest fitness equipment and amenities to
      support
      your training needs. From cardio machines and strength training equipment to group exercise classes and
      personalized
      training programs, we offer a diverse range of options to suit every fitness level and interest.</p>
    <p class="dark">But what truly sets us apart is our team of experienced and certified trainers who are committed to
      guiding and inspiring you every step of the way. Whether you're looking to build muscle, lose weight, improve your
      athletic performance, or simply adopt a healthier lifestyle, our trainers are here to provide personalized
      support,
      guidance, and encouragement tailored to your individual needs and goals.</p>
    <p class="dark">In addition to our fitness offerings, we believe in fostering a sense of community and camaraderie
      among our members. Through social events, workshops, and challenges, we aim to create opportunities for you to
      connect
      with like-minded individuals, share experiences, and celebrate achievements together.</p>
    <p class="dark">At Fit Fusion, we're not just about physical strength – we're about empowering you to become the
      best
      version of yourself, both inside and out. Join us today and embark on a journey to a fitter, healthier, and
      happier
      you.</p>
  </div>
  <div class="mt-[20px]">
    <app-gallery [src]="src" />
  </div>
</div>