.cont {
  transition: all 0.3s;
  img {
    transition: all 0.3s;
    max-width: unset;
    max-height: unset;
  }
  .bg {
    transition: all 0.3s;
  }
}
.cont:hover {
  box-shadow: -9px 9px 13px 0px rgba(0, 42, 86, 0.3);
  img {
    width: 110%;
    height: 110%;
  }
  .bg {
    background-color: #00143181;
  }
}
