<div class="relative">
  <div class="relative">
    <img src="../../assets/images/box.jpg" alt="" class="w-full h-[30vw] max-h-[500px] object-cover">
    <div class="absolute left-0 top-0 w-full h-full bg-[#001431] opacity-70"></div>
  </div>
  <h1 class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-[3.438em] font-semibold colorM">BOXING
  </h1>
</div>
<div class="cWidth mx-auto mt-[50px]">
  <div class="flex flex-col gap-[20px]">
    <p class="dark text-justify text-[1.125em]">Join our dynamic group fitness classes and take your workout to the next
      level! From
      heart-pumping cardio sessions to muscle-building strength workouts, we offer a wide variety of classes to suit
      every
      fitness level and interest. Whether you prefer the energy of high-intensity interval training, the flow of yoga,
      or
      the fun of dance-based workouts, our experienced instructors will guide you through engaging and effective
      workouts
      designed to help you reach your goals. Check out our schedule and find the perfect class to energize your fitness
      routine!</p>
    <p class="dark text-justify text-[1.125em]">Our state-of-the-art facilities are equipped with the latest fitness
      equipment and amenities to support your training needs. From cardio machines and strength training equipment to
      group
      exercise classes and personalized training programs, we offer a diverse range of options to suit every fitness
      level
      and interest.</p>
    <p class="dark text-justify text-[1.125em]">But what truly sets us apart is our team of experienced and certified
      trainers who are committed to guiding and inspiring you every step of the way. Whether you're looking to build
      muscle, lose weight, improve your athletic performance, or simply adopt a healthier lifestyle, our trainers are
      here
      to provide personalized support, guidance, and encouragement tailored to your individual needs and goals.</p>
  </div>
  <div class="mt-[30px]">
    <app-gallery [src]="src" />
  </div>
</div>