<div class="flex h-[calc(100vh-80px)] w-full bg-[#000814] relative">
  <div
    class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 flex flex-col justify-between gap-[85px] cWidth">
    <div class="relative">
      <h1 class="text-[5.625em] max-md:text-[4.5em] opacity-70 font-[600]">FITFUSION</h1>
      <h2 class="text-[3.125em] max-md:text-[2.9em] font-[100] mt-[-20px] opacity-70">FOR ATHLETES</h2>
      <img class="absolute top-0 -translate-x-[50px] -translate-y-[50px] w-[250px] z-[-1] opacity-40"
        src="../../../assets/icons/logo.svg" alt="">
    </div>
    <p class="text-[1.375em] max-w-[700px] text-justify font-[300]">Welcome to our gym! Whether you're a seasoned
      athlete
      or just
      starting your
      fitness
      journey, we're thrilled to have
      you here</p>
    <Mbutton text="JOIN NOW" link="/courses" class="max-sm:ml-auto" />
  </div>
  <img src="../../../assets/images/main.jpg" alt="" class="w-[72vw] max-sm:w-full object-cover ml-auto">
  <img src="../../../assets/icons/triangle.png" alt="" class="w-full h-auto max-h-[150px] absolute bottom-0">
</div>