<div class="cWidth mx-auto mt-[10px]">
 <h1 class="dark text-[2.188em] w-fit mx-auto font-bold">ABOUT US</h1>
 <div class="grid grid-cols-2 max-xl:grid-cols-1 gap-[15px] mt-[24px]">
  <img src="../../../assets/images/gym.jpg" alt="" class="w-full h-1 min-h-full block object-cover max-xl:h-[300px]">
  <div class="grid grid-cols-1 h-fit gap-[15px] text-[1.125em] text-justify">
   <p class="dark">At Fit Fusion, we're more than just a gym – we're a community dedicated to helping you achieve your
    fitness goals
    and live a healthier lifestyle. Founded with a passion for fitness and wellness, we strive to create an environment
    where everyone feels welcome, motivated, and empowered to reach their full potential.</p>
   <p class="dark">Our state-of-the-art facilities are equipped with the latest fitness equipment and amenities to
    support your
    training needs. From cardio machines and strength training equipment to group exercise classes and personalized
    training programs, we offer a diverse range of options to suit every fitness level and interest.</p>
   <p class="dark">But what truly sets us apart is our team of experienced and certified trainers who are committed to
    guiding and
    inspiring you every step of the way. Whether you're looking to build muscle, lose weight, improve your athletic
    performance, or simply adopt a healthier lifestyle, our trainers are here to provide personalized support, guidance,
    and encouragement tailored to your individual needs and goals.</p>
   <a href="" class="text-[1.375em] ml-auto colorM">Read more</a>
  </div>
 </div>
</div>