<div class="flex max-lg:flex-col cWidth mx-auto justify-between mt-[50px]">
 <div class="lg:w-[40%]">
  <h1 class="dark text-[2.188em] font-bold max-md mx-auto ">CONTACT US</h1>
  <div class="flex flex-col md:max-lg:flex-row justify-between w-full mt-[20px] gap-[20px]">
   <app-info name="Adress information" desc="Katowice, Swilcza 146 E" src="place.png" />
   <app-info name="Telephone" desc="607 761 708" src="telephone.png" class="max-md:my-[20px]" />
   <app-info name="E-mail" desc="m.gondorek.kontakt@gmail.com" src="mail.png" />
  </div>
 </div>
 <div class="lg:w-[60%] max-md:mt-[30px]">
  <h1 class="dark text-[2.188em] font-bold">LEAVE A MESSAGE</h1>
  <form action="" class="flex flex-col gap-[10px] max-md:mt-[10px]">
   <div class="grid grid-cols-2 max-md:grid-cols-1 w-full gap-[10px]">
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Email">
   </div>
   <textarea name="" placeholder="Message" class="w-full h-[150px]"></textarea>
   <Mbutton text="SEND MESSAGE" [dark]="true" />
  </form>
 </div>
</div>